<div id="dashboard-project" class="page-layout simple right-sidenav"
	layout="row">

	<!-- CENTER -->
	<div class="center" flex ms-scroll>

		<!-- HEADER -->
		<div class="header md-accent-bg" layout="column"
			layout-align="space-between">
			<div layout="row" layout-align="space-between">
				<div>
					<span class="md-display-1 font-weight-300">Incident Detail -
						{{vm.incId}}</span>
				</div>
			</div>

			<!-- <div layout="row">
                <div class="selected-project">{{vm.selectedProject.name}}</div>

                <md-menu id="projects-menu" md-offset="0 48">
                    <md-button class="md-icon-button project-selector" ng-click="$mdOpenMenu()"
                               aria-label="Select project" md-menu-origin md-menu-align-target>
                        <md-icon md-font-icon="icon-dots-horizontal"></md-icon>
                    </md-button>

                    <md-menu-content width="3" class="md-background-bg">
                        <md-menu-item ng-repeat="project in vm.projects">
                            <md-button ng-click="vm.selectProject(project)" aria-label="{{project.name}}">
                                <span ng-class="{'secondary-text': vm.selectedProject == project}">{{project.name}}</span>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div> -->
		</div>
		<!-- / HEADER -->

		<!-- CONTENT -->
		<div class="content">

			<a class="md-primary md-button md-ink-ripple" layout="right"
				ui-sref="app.dashboard.detail.chat()">Initiate Bridge</a>

		</div>
		<!-- / CONTENT -->
        <div>
        	<md-button class="md-icon-button not-shared" aria-label="More information" ng-click="vm.startShare()">
                                        Start Screen</md-icon>
                                    </md-button>

        	<!-- <button class="not-shared" id="screenshare"  >Start Screen Share</button> -->
        	<button class="shared resumed" id="screenshare" ng-click="vm.pauseShare()">Pause Screen Share</button>
        	<button class="shared paused" id="screenshare" ng-click="vm.resumeShare()">Resume Screen Share</button>
        	<button class="shared" id="screenshare" ng-click="vm.stopShare()">Stop Screen Share</button>
        	<p>
        	<label id="label1">Screen Share View URL : </label>
        	<a href="" id="viewerUrl" target="_blank"/>
        </div>

	</div>
	<!-- / CENTER -->

	<!-- SIDENAV -->

	<!-- / SIDENAV -->

</div>