<div id="dashboard-project" class="page-layout simple right-sidenav"
	layout="row">

	<!-- CENTER -->
	<div class="center" flex ms-scroll>

		<!-- HEADER -->
		<div class="header md-accent-bg" layout="column"
			layout-align="space-between">
			<div layout="row" layout-align="space-between">
				<div>
					<span class="md-display-1 font-weight-300">Incident Detail -
						{{vm.incId}}</span>
				</div>
			</div>

			<!-- <div layout="row">
                <div class="selected-project">{{vm.selectedProject.name}}</div>

                <md-menu id="projects-menu" md-offset="0 48">
                    <md-button class="md-icon-button project-selector" ng-click="$mdOpenMenu()"
                               aria-label="Select project" md-menu-origin md-menu-align-target>
                        <md-icon md-font-icon="icon-dots-horizontal"></md-icon>
                    </md-button>

                    <md-menu-content width="3" class="md-background-bg">
                        <md-menu-item ng-repeat="project in vm.projects">
                            <md-button ng-click="vm.selectProject(project)" aria-label="{{project.name}}">
                                <span ng-class="{'secondary-text': vm.selectedProject == project}">{{project.name}}</span>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div> -->
		</div>
		<!-- / HEADER -->

		<!-- CONTENT -->
		<div class="content">

			<md-button class="md-button md-raised md-primary" ng-click="app.dashboard.detail.chat()">Initiate Bridge</md-button>
        	<md-button class="md-button md-raised md-primary not-shared" ng-click="vm.startShare()">Share Screen</md-button>
        	<md-button class="md-button md-raised md-disabled shared resumed" ng-click="vm.pauseShare()">Pause Screen Share</md-button>
        	<md-button class="md-button md-raised md-primary shared paused" ng-click="vm.resumeShare()">Resume Screen Share</md-button>
        	<md-button class="md-button md-raised md-warn shared" ng-click="vm.stopShare()">Stop Screen Share</md-button>
		</div>
		<div class="content">
        	<a class="md-primary md-ink-ripple" layout="right">Viewer URL:</a><a class="md-primary md-ink-ripple" layout="right" href="{{vm.viewerUrl}}">{{vm.viewerUrl}}</a>
		</div>
        	<!-- <div>
        		<a href="{{vm.viewerUrl}}" id="viewerUrl" target="_blank">{{vm.viewerUrl}}</a>
        	</div> -->
        	<!-- <button class="shared paused" id="screenshare" ng-click="vm.resumeShare()">Resume Screen Share</button>
        	
        	<button class="shared resumed" id="screenshare" ng-click="vm.pauseShare()"></button>
        	<button class="shared paused" id="screenshare" ng-click="vm.resumeShare()">Resume Screen Share</button>
        	<button class="shared" id="screenshare" ng-click="vm.stopShare()">Stop Screen Share</button> -->
        	
        </div>

	</div>
	<!-- / CENTER -->

	<!-- SIDENAV -->

	<!-- / SIDENAV -->

</div>