	
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Welcome</h3>
					</div>
					<div class="panel-body">
						<h3 class="panel-title">Hari</h3>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title">Welcome</h3>
					</div>
					<div class="panel-body">
						<h3 class="panel-title">Guru</h3>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="panel panel-warning">
					<div class="panel-heading">
						<h3 class="panel-title">Welcome</h3>
					</div>
					<div class="panel-body">
						<h3 class="panel-title">Sathish</h3>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title">Welcome</h3>
					</div>
					<div class="panel-body">
						<h3 class="panel-title"></h3>
					</div>
				</div>
			</div>
		</div>
	</div>
